@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&family=Schibsted+Grotesk:wght@500;900&display=swap');

html,
body {
  line-height: 2;
  padding: 0;
  margin: 0;
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: #FFFFF2;
  /*-webkit-animation-name: example ;
  animation-name: example ;
  -webkit-animation-duration: 4s ;
  animation-duration: 4s ;*/
  
}

@keyframes example {
  from {
    font-family: 'Courier New', Courier, monospace;
  }
  to {
    font-family: 'Times New Roman', Times, serif;
  }
}

h1 {
  width: 100%;
  height: 100%;
  font-size: 3em;
  line-height: 1.3;
  color: white;  
  background: url(/fur.jpg) no-repeat; /* Set the backround image */
  background-clip: text; /* clip the background to the text inside the tag*/
  background-size: cover;
  -webkit-text-fill-color: transparent;
  text-align: center;  
  font-weight: 900;
  /*animation-name: example;
  animation-duration: 4s;*/ 
}

a {
  text-decoration: none;
  color:  #FDEB37;
  text-transform: lowercase;
  font-size: 2em;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  /*max-width: 70%;*/
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
